@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

    h1{
    	font-family:  'SEGA LOGO FONT';
    	font-weight: 200;
    	color: #0ccac4;
        /*had to do this margin 0 because the font had
        predifined ones*/
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        padding-top: 20px;
    }

.container{
    height: 100vh;
}
.gif{
        clip-path: circle(35.4% at 50% 50%);
}